name: CI/CD

on:
  push:
    branches: [ "main", "deploy" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'zulu'

      # repository secrets에 올린 application.yml 생성
      - name: Make application.yml
        run: |
          mkdir -p ./src/main/resources
          echo "${{ secrets.APPLICATION }}" | base64 --decode > ./src/main/resources/application.yml


      # firebase json 생성
      - name: Make firebase key
        run: |
          mkdir -p ./src/main/resources/firebase
          echo "${{ secrets.FIREBASE_JSON }}" | base64 --decode > ./src/main/resources/firebase/firebase-key.json

      - name: Build with Gradle
        run: |
          chmod +x ./gradlew
          ./gradlew build -x test

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker build & push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_REPO }}:latest

      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            sudo docker stop moro || true
            sudo docker rm moro || true
            sudo docker pull ${{ secrets.DOCKER_REPO }}:latest
            sudo docker run -d --name moro -p 8080:8080 ${{ secrets.DOCKER_REPO }}:latest
            sudo docker image prune -f
